* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
}

.board {
  position: absolute;
  height: 100%;
  width: 100%;
  border: aqua 1rem outset;
  background: #fa8;
}

.board-cells {
  position: relative;
}

.board-cells__cell {
  position: absolute;
  background: blue;
  border-radius: 50% 50%;
  cursor: pointer;
}

.board-cells__cell:hover {
  background: purple;
  transition: all .1s ease-out;
}

.board-cells__cell--first-nbr {
  background: olivedrab;
}
