* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
}

.board {
  position: absolute;
  height: 100%;
  width: 100%;
  border: aqua 1rem outset;
}

.board-cells {
  display: flex;
  position: relative;
}

.board-cells__cell {
  position: absolute;
  border: 1px solid #aaa;
  border-radius: 50% 50%;
  cursor: pointer;
  transition: all .05s ease;
}

.board-cells__cell:hover {
  background-color: aqua;
}

.board-cells__cell.first-nbr {
  background-color: coral;
}
